@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

  body{
    font-family: 'Poppins';
    max-width: 1920px;
    max-height: 2876px;
    }

    .padding{
        padding-left: 303px;
        padding-right: 286px;
    }

    .container{
        max-width: 1920px;
    }

    button{
        border: none;
        background: none;
    }


    .second-page input, .third-page input{
      display: flex;
      margin: auto;
      margin-top: 50px;
  }